<table class="usersTable">
    <tr class="tabhead">
        <th>Username</th>
        <th>Fullname</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Type</th>
        <th style="text-align: center;">Delete</th>
    </tr>
    <tbody>
        <tr *ngFor='let u of allUsers | slice: (page1-1) * 10 : (page1-1) * 10 + 10'>
            <th (click)="uredi(u)" class="forhover">{{u.username}}</th>
            <th (click)="uredi(u)" class="forhover">{{u.fullname}}</th>
            <th (click)="uredi(u)" class="forhover">{{u.address}}</th>
            <th (click)="uredi(u)" class="forhover">{{u.phone}}</th>
            <th (click)="uredi(u)" class="forhover">{{u.mail}}</th>
            <th><input type="text" id={{u.username}} value={{u.type}} class="inputType" (change)="update(u.username)"></th>
            <th style="text-align: center;"><svg (click)="delete(u.username)" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="trash"><path d="M19 24h-14c-1.104 0-2-.896-2-2v-17h-1v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2h-1v17c0 1.104-.896 2-2 2zm0-19h-14v16.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-16.5zm-9 4c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6 0c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm-2-7h-4v1h4v-1z"/></svg></th>
        </tr>

        <tr>
            <th colspan="6" style="text-align:center">
                <span class="center">
                <ngb-pagination [(page)]="page1" [pageSize]="10" [collectionSize]="allUsers.length">
                </ngb-pagination>
                </span>
            </th>
        </tr>
    </tbody>
</table>